@import 'variables';


@import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.menu-grid {
    flex: 1 1 calc(33.333% - $gap);
    background-color: $light-color;
    padding: 1rem;
    border-radius: 8px;

@media (max-width: 768px) {
    flex: 1 1 calc(50% - $gap);
  }

@media (max-width: 480px) {
    .menu-grid {
        flex: 1 1 100%;
  }
}
}
.card {
  background: $background-color;
  border-radius: $border-radius;
  box-shadow: $shadow;
  padding: 1rem;
  text-align: center;
  position: relative;

  img {
    width: 100%;
    border-radius: $border-radius;
    margin-bottom: 0.5rem;
  }

  .rating {
    font-size: 1.2rem;
    color: #f5a623;
  }

  .price {
    font-weight: bold;
    margin-top: 0.5rem;

    .old-price {
      text-decoration: line-through;
      color: #999;
      margin-left: 0.5rem;
    }
  }

  .discount {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #e74c3c;
    color: $light-color;
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
    border-radius: 6px;
  }
}

.top-products{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 50px;
}

.heading-1{
    font-size: 2.5rem;
    color:$dark-color;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -1px;

}
